@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-timeline-element-content {
  box-shadow: none !important;
}


.lazy-load-image-background.blur.lazy-load-image-loaded {
  display: block !important;
  transition-timing-function: ease-in !important;
  transition-duration: 0.3ms;
}
